._ {
    /*display: block;*/
    position: fixed;
    width: 4rem;
    /*height: 10rem;*/
    right: 1%;
    bottom: 40px;
    font-size: 4rem;
    z-index: 1;
    cursor: pointer;
    color: green;
    background: none;
    border: none;
}

.none {
    display: none;
}