._ {
    width: 90%;
    margin: 0 auto;
    /*height: 3.5rem;*/
    /*background: darkorange;*/
    /*background: rgb(202,52,249);*/
    /*background: linear-gradient(117deg, rgba(255,200,74,1) 0%, rgba(243,22,29,1) 36%, rgba(255,200,74,1) 94%);*/
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
}
.logo {
    display: flex;
    color: #d72c2c;
    padding: 1rem;
}
.logoText {
    width: 16rem;
}
.cameraSvg {
    width: 2rem;
    /*fill: #d72c2c;*/
    fill: black;
}
.burger {
    display: none;
}
.burgerIcon {
    fill: black;
}
.menuIcons {
    fill: currentColor;
    height: 1rem;
}
.grid {
    width: 100%;
    /*display: grid;*/
    /*grid-template-columns: repeat(4, minmax(15%, 20%));*/
    /*justify-content: space-around;*/
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.card {
    padding: 0.5rem 1.2rem;
    background: rgba(var(--card-rgb), 0);
    /*color: white;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card p {
    font-size: 1.2rem;
    font-weight: bolder;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}
.headerBlockPhone {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    align-items: center;
    color: #d72c2c;
}
.none {
    display: flex;
}

.phone {
    font-size: 1.5rem;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        /*background: rgba(var(--card-rgb), 0.1);*/
        /*border: 1px solid rgba(var(--card-border-rgb), 0.15);*/
        border-bottom: 1px solid lightgray;
    }

    .card:hover span {
        transform: translateX(4px);
    }
}

@media screen and (max-width: 850px) {
    ._ {
        width: 100%;
        background: none;
        height: auto;
    }
    .burger {
        z-index: 1001;
        cursor: pointer;
        display: block;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        fill: black;
    }
    .burgerIcon {
        height: 2rem;
        fill: black;
    }
    .headerBlockPhone {
        width: 45%;
        font-size: 0.4rem;
    }
    .none {
        display: none;
    }
    @keyframes menu {
        from {
            top: -20rem;
        }
        to {
            top: 0;
        }
    }
    .menuNone {
        display: none;
    }
    .grid {
        display: none;
    }
    .burgerMenu {
        z-index: 1000;
        animation: menu 0.3s linear;
        position: fixed;
        /*top: 3rem;*/
        top: 0;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(90%, auto));
        width: 100%;
        max-width: 100%;
        height: 22rem;
        background: rgb(150, 150, 150, 0.95);
    }
}

@media (max-width: 480px) {
    ._ {
        width: 100%;
        background: none;
        height: auto;
    }
    .burger {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        fill: black;
    }
    .burgerIcon {
        height: 2rem;
        fill: black;
    }
    .card span {
        display: none;
    }
    @keyframes menu {
        from {
            top: -20rem;
        }
        to {
            top: 0;
        }
    }
    .menuNone {
        display: none;
    }
    .grid {
        display: none;
    }
    .burgerMenu {
        z-index: 1000;
        animation: menu 0.3s linear;
        position: fixed;
        top: 0;
        padding-top: 1rem;
        width: 100%;
        max-width: 100%;
        height: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: rgb(150, 150, 150, 0.95);
    }
    .phone {
        font-size: 1.3rem;
    }
}