._ {
    margin-top: 3rem;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    height: calc(100vh - 10rem);
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48%;
    height: 100%;
}

.descriptionImage {
    width: 100%;
    border: solid white;
    border-radius: 2rem;
}

.par {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 390px) {
    ._ {
        margin-top: 3rem;
        padding: 1rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 0.85rem;
        max-width: var(--max-width);
        width: 100%;
        height: auto;
    }
    .descriptionBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        width: 100%;
        height: auto;
    }
}