._ {
    display: flex;
    width: 100%;
    height: 7rem;
    /*background: whitesmoke;*/
    background: inherit;
    padding: 1rem;
    z-index: 1000;
}

.headerBlockLogo {
    width: 25%;
    display: flex;
    height: 100%;
    /*color: #d72c2c;*/
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    /*font-weight: bold;*/
    align-items: center;
}
.headerBlockDesc {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    align-items: center;
}
.headerBlockButton {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    align-items: center;
}
.headerBlockPhone {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    align-items: center;
}

.phone {
    font-size: 1.5rem;
}

.logoButton {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    /*color: #d72c2c;*/
    color: black;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}
.logoButton p {
    font-size: 0.9rem;
    width: 85%;
}
.headerBlockDesc p {
    font-style: normal;
}

.logo {
    /*fill: #d72c2c;*/
    height: 70%;
    width: 50%;
}

.none {
    display: flex;
}

@media screen and (max-width: 850px) {
    ._ {
        top: 0;
        position: fixed;
        display: flex;
        width: 100%;
        height: 3rem;
        background: whitesmoke;
        padding: 0.3rem;
    }
    .headerBlockLogo {
        width: 45%;
        display: flex;
        /*color: #d72c2c;*/
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        font-weight: bold;
        align-items: flex-start;
    }
    .logoButton {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        cursor: pointer;
        font-size: 0.5rem;
        color: #d72c2c;
        width: 100%;
        height: 100%;
    }
    .logo {
        fill: #d72c2c;
        height: 70%;
    }
    .headerBlockPhone {
        width: 45%;
        font-size: 0.4rem;
    }
    .headerBlockButton {
        display: none;
    }
    .headerBlockDesc {
        display: none;
    }
    .none {
        display: none;
    }
    .abbr {
        display: none;
    }
    .h {
        font-size: 2rem;
        color: black;
    }
}

@media (max-width: 480px) {
    .phone {
        font-size: 1rem;
    }
    .headerBlockLogo {
        width: 45%;
        display: flex;
        /*color: #d72c2c;*/
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        font-weight: bold;
        align-items: flex-start;
    }
    .logoButton {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        cursor: pointer;
        font-size: 0.5rem;
        color: #d72c2c;
        width: 100%;
        height: 100%;
    }
    .logo {
        fill: #d72c2c;
        height: 70%;
    }
    .headerBlockPhone {
        width: 45%;
        font-size: 0.4rem;
    }
    .headerBlockButton {
        display: none;
    }
    .headerBlockDesc {
        display: none;
    }
    .none {
        display: none;
    }
    .abbr {
        display: none;
    }
    .h {
        font-size: 1.5rem;
    }
}